*
  box-sizing: border-box
body
  font-family: 'Mulish', sans-serif
  color: $text-color
  background-color: $secondary
.container
  max-width: 1110px
  margin: auto
  img
    max-width: 100%
button, input, textarea
  outline: none
.stop
  overflow-y: hidden
.invalid
  color: $primary
  font-size: 12px
  &__subscribe
    color: $primary
    font-size: 12px
  &__modal
    color: $primary
    font-size: 12px
#email-error
  position: relative
  color: $primary
  font-size: 12px
  top: 0px
label.invalid
  &__modal
    &#name-error
      position: absolute
      top: 69px
      left: 90px
    &#phone-error
      position: absolute
      top: 134px
      left: 90px
    &#email-error
      position: absolute
      top: 198px
      left: 90px
label.invalid
  &#name-error
    position: absolute
    top: 50px
    left: 0px
  &#phone-error
    position: absolute
    top: 50px
    left: 0px
a:hover
  text-decoration: underline
  color: $primary
button
  transition: all 500ms ease
button:hover
  background: #ab004a
  color: $light
  box-shadow: inset 0 0 0 3px #ea3a5b
.flink
  display: inline-block
  text-align: center
  margin-top: 10px
  text-decoration: none
  &:hover
    text-decoration: none
    background: #ab004a
    color: $light
    box-shadow: inset 0 0 0 3px #ea3a5b
